
<h1>Estadísticas de Acceso de Links</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Accesos Totales</th>
    </tr>
  </thead>
  <tbody>
    <% @user_links.each do |link| %>
      <tr>
        <td><%= link.url %></td>
        <td><%= link.link_statistic.access_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>