<h2>Enter Password</h2>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<%= form_tag({ controller: 'links', action: 'verificar_password' }, method: 'post') do %>
    <label for="password">Password:</label>
    <%= password_field_tag 'password' %>

    <%= submit_tag 'Submit' %>
<% end %>